body {
    font-family: Verdana;
    background-color: rgb(231, 231, 231);
}

div {
    border: 5px solid black;
    width: 40%;
    padding: 1em;
    border-radius: 2em;
    background-color: orange;
    color: black;
    margin-bottom: 2em;
}